body{
	background-color:lightblue;
}
.box{
	margin-left:550px;
	margin-top:300px;
	height:100px;
	width:200px;
	background-color:lightgreen;
	padding:5%;
	border-style:solid;
	border-size:0.5px;
	border-radius:20px;
	border-color:black;
	box-shadow:5px 5px 15px black;
}
.submit{
	height:30px;
	width:60px;
	background-color:red;
	border:solid 0.5px red;
	border-radius:20px;
	font-weight:bold;
}
.input{
	height:25px;
	width:200px;
	border = solid black 0.5px;
	border-radius:10px;
}